body{
    padding: 0;
    margin: 0;
    background: url(https://hips.hearstapps.com/hmg-prod/images/alarm-clock-art-concept-1610485624.jpg?crop=0.776xw:0.796xh;0.138xw,0.0918xh&resize=1200:*);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    background-color: rgb(165,225,226);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

p{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: absolute;
    padding-top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.form{
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid white; 
    border-radius: 70px;
    padding: 15px 25px;
    margin-bottom: 25px;
}

.flex{
    display: flex;
    justify-content: center;
    gap: 25px;
}

input, select{
    cursor: pointer;
}

.preset{
    margin: 10px 0px;
}

.preset__label{
    align-self: center;
}

.btn{
    padding: 5px 10px;
    background: linear-gradient(0deg, #DDEEFB -15.69%, #B8AEEC 127.45%);
    border: none;
    border-radius: 70px;
    filter: drop-shadow(1px 1px 2px #B5C7E5);
    font-size: 16px;
    cursor: pointer;
}

.count{
    font-weight: 600;
    margin-top: 15px;
    padding: 5px 25px;
    background: linear-gradient(0deg, #fa6afa -15.69%, #ec3e8f 127.45%);
    filter: drop-shadow(1px 1px 2px #B5C7E5);
}

.select-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-input{
    gap: 5px;
}

select{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

select option{
    font-size: 16px;
    max-height: fit-content;
}

.get-result{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.result{
    align-self: flex-start;
}

.table{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 70px;
}

.table-header th:nth-child(1) {
    width: 80%;
}
  
.table-header  th:nth-child(2) {
  width: 20%;
}



@media all and (min-width: 1060px) {
    body, select, option, input, .btn{
        font-size: 23px;
    };
}

@media all and (min-width: 1600px) {
    body, select, option, input, .btn{
        font-size: 29px;
    };
}